.footer {
  padding: 104px 0px 90px;
  background-color: #1c1e53;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 142px;
     -moz-column-gap: 142px;
          column-gap: 142px;
  row-gap: 30px;
}
@media (max-width: 1000px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__img {
  margin-bottom: 24px;
}
.footer__text {
  max-width: 399px;
  color: #ffffff;
  font-family: "Poppins500";
  font-size: 16px;
  line-height: 28px;
}
.footer__box {
  width: 517px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fcd980;
  padding: 18px 0px 17px 37px;
  margin-top: 86px;
  gap: 50px;
}
@media (max-width: 550px) {
  .footer__box {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__title {
  color: #282938;
  font-family: "Poppins500";
  font-size: 16px;
  line-height: 18px;
}
.footer__link {
  color: #282938;
  font-family: "Poppins400";
  font-size: 16px;
  line-height: 18px;
}
.footer__max {
  color: #ffffff;
  font-family: "Poppins600";
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 14px;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  color: #ffffff;
  margin-top: 28px;
}
.footer__icon {
  font-size: 20px;
}

.navbar {
  background-color: #1c1e53 !important;
  padding: 16px 0px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.navbar__menu {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.navbar__icon {
  font-size: 20px;
}
.navbar__close {
  border: 2px solid #ffffff;
}
.navbar__link {
  color: #bbbbcb;
  font-family: "Poppins500";
  font-size: 16px;
  line-height: 28px;
}
.navbar__link:hover {
  color: #ffffff;
}
.navbar__active {
  color: #ffffff;
}
.navbar__btn {
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  color: #ffffff;
  font-family: "Poppins500";
  font-size: 16px;
  line-height: 28px;
}

.offcanvas__html {
  background-color: #1c1e53;
}

.dark .in__info {
  background-color: black !important;
  -webkit-box-shadow: 0px 0px 15px 7px white;
          box-shadow: 0px 0px 15px 7px white;
}

.dark .in__info label {
  color: white;
}

.dark .in__info input,
.dark .in__info textarea {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 10px 3px white;
          box-shadow: 0px 0px 10px 3px white;
}

.dark .in__info input::-webkit-input-placeholder, .dark .in__info textarea::-webkit-input-placeholder {
  color: white;
}

.dark .in__info input::-moz-placeholder, .dark .in__info textarea::-moz-placeholder {
  color: white;
}

.dark .in__info input:-ms-input-placeholder, .dark .in__info textarea:-ms-input-placeholder {
  color: white;
}

.dark .in__info input::-ms-input-placeholder, .dark .in__info textarea::-ms-input-placeholder {
  color: white;
}

.dark .in__info input::placeholder,
.dark .in__info textarea::placeholder {
  color: white;
}

.dark .btn {
  -webkit-box-shadow: 0px 0px 15px 5px gray;
          box-shadow: 0px 0px 15px 5px gray;
}

@font-face {
  font-family: "Poppins100";
  src: url(../../asset/fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
  font-family: "Poppins200";
  src: url(../../asset/fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "Poppins300";
  src: url(../../asset/fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "Poppins400";
  src: url(../../asset/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins500";
  src: url(../../asset/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins600";
  src: url(../../asset/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins700";
  src: url(../../asset/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins800";
  src: url(../../asset/fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: "Poppins900";
  src: url(../../asset/fonts/Poppins/Poppins-Black.ttf);
}
.dark #backtop .top-img {
  -webkit-box-shadow: 0px 0px 10px 5px #ffffff;
          box-shadow: 0px 0px 10px 5px #ffffff;
}

.dark #navbar.navbar-shrink {
  -webkit-box-shadow: 0px 0px 15px 6px #ffffff;
          box-shadow: 0px 0px 15px 6px #ffffff;
}

.dark .navbar__menu {
  -webkit-box-shadow: 0px 0px 6px 3px #ffffff;
          box-shadow: 0px 0px 6px 3px #ffffff;
}

.dark #navbar,
.dark header,
.dark main,
.dark footer,
.dark section {
  background-color: black !important;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p,
.dark a,
.dark i {
  color: white;
}

.dark .footer__box {
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 3px #fcd980;
          box-shadow: 0px 0px 10px 3px #fcd980;
}

.dark .navbar__active {
  color: #2405f2;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
i {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input,
textarea {
  outline: none;
  border: none;
}

#navbar.navbar-shrink {
  padding: 10px 0px;
  -webkit-box-shadow: 0px 0px 15px 10px #1c1e53;
          box-shadow: 0px 0px 15px 10px #1c1e53;
}

#mode__btn {
  cursor: pointer;
  padding-left: 50px;
}
@media (max-width: 400px) {
  #mode__btn {
    padding-left: 0px;
  }
}

#loading {
  position: fixed;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#loading.loading-none {
  width: 100%;
  opacity: 0;
  z-index: -100000 !important;
}

#backtop {
  position: fixed;
  right: 20px;
  bottom: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
}

#backtop .top-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#backtop.backtop-show {
  bottom: 80px;
}

.center {
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

.center__min {
  color: #282938;
  font-family: "Poppins500";
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 12px;
}

.center__title {
  max-width: 630px;
  color: #282938;
  font-family: "Poppins600";
  font-size: 48px;
  line-height: 64px;
}
@media (max-width: 500px) {
  .center__title {
    font-size: 30px;
    line-height: 40px;
  }
}

.center__text {
  max-width: 562px;
  color: #282938;
  font-family: "Poppins500";
  font-size: 16px;
  line-height: 28px;
}

.center {
  padding: 198px 0px 0px;
}

.main {
  padding: 64px 0px 128px;
}

.in__info {
  max-width: 1060px;
  padding: 60px 70px;
  border-radius: 12px;
  background: #f4f6fc;
  margin: auto;
}
@media (max-width: 450px) {
  .in__info {
    padding: 25px;
  }
}

.form-label {
  color: #000;
  font-family: "Poppins500";
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 6px;
}

.form-control {
  padding: 18px 32px;
  margin-bottom: 30px;
}

.form-control::-webkit-input-placeholder {
  color: #000;
  font-family: "Poppins400";
  font-size: 16px;
  line-height: 28px;
}

.form-control::-moz-placeholder {
  color: #000;
  font-family: "Poppins400";
  font-size: 16px;
  line-height: 28px;
}

.form-control:-ms-input-placeholder {
  color: #000;
  font-family: "Poppins400";
  font-size: 16px;
  line-height: 28px;
}

.form-control::-ms-input-placeholder {
  color: #000;
  font-family: "Poppins400";
  font-size: 16px;
  line-height: 28px;
}

.form-control::placeholder {
  color: #000;
  font-family: "Poppins400";
  font-size: 16px;
  line-height: 28px;
}
@media (max-width: 450px) {
  .form-control::-webkit-input-placeholder {
    font-family: "Poppins300";
    font-size: 14px;
  }
  .form-control::-moz-placeholder {
    font-family: "Poppins300";
    font-size: 14px;
  }
  .form-control:-ms-input-placeholder {
    font-family: "Poppins300";
    font-size: 14px;
  }
  .form-control::-ms-input-placeholder {
    font-family: "Poppins300";
    font-size: 14px;
  }
  .form-control::placeholder {
    font-family: "Poppins300";
    font-size: 14px;
  }
}

.col__12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.textarea {
  padding: 18px 32px;
  resize: none;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  min-height: 138px;
  margin-bottom: 32px;
}

.textarea::-webkit-input-placeholder {
  color: #000;
  font-family: "Poppins400";
  font-size: 16px;
  line-height: 28px;
}

.textarea::-moz-placeholder {
  color: #000;
  font-family: "Poppins400";
  font-size: 16px;
  line-height: 28px;
}

.textarea:-ms-input-placeholder {
  color: #000;
  font-family: "Poppins400";
  font-size: 16px;
  line-height: 28px;
}

.textarea::-ms-input-placeholder {
  color: #000;
  font-family: "Poppins400";
  font-size: 16px;
  line-height: 28px;
}

.textarea::placeholder {
  color: #000;
  font-family: "Poppins400";
  font-size: 16px;
  line-height: 28px;
}
@media (max-width: 450px) {
  .textarea::-webkit-input-placeholder {
    font-family: "Poppins300";
    font-size: 14px;
  }
  .textarea::-moz-placeholder {
    font-family: "Poppins300";
    font-size: 14px;
  }
  .textarea:-ms-input-placeholder {
    font-family: "Poppins300";
    font-size: 14px;
  }
  .textarea::-ms-input-placeholder {
    font-family: "Poppins300";
    font-size: 14px;
  }
  .textarea::placeholder {
    font-family: "Poppins300";
    font-size: 14px;
  }
}

.btn {
  padding: 15px 51px;
  border-radius: 41px;
  background: #282938;
  color: #f4f6fc;
  font-family: "Poppins600";
  font-size: 18px;
  line-height: 32px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
@media (max-width: 300px) {
  .btn {
    padding: 15px 40px;
  }
}

.btn:hover {
  background-color: #706c6c;
  color: #0f0d0d;
}