@font-face {
    font-family: "Poppins100";
    src: url(../../asset/fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
    font-family: "Poppins200";
    src: url(../../asset/fonts/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: "Poppins300";
    src: url(../../asset/fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: "Poppins400";
    src: url(../../asset/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins500";
    src: url(../../asset/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins600";
    src: url(../../asset/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Poppins700";
    src: url(../../asset/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins800";
    src: url(../../asset/fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: "Poppins900";
    src: url(../../asset/fonts/Poppins/Poppins-Black.ttf);
}